<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
   <h1> Join My WebSite !</h1>
   
   <section class="messages"> </section>
   <form action="/join" method="post">
      eamil : <input type="text" name="eamil">
      password : <input type="text" name="password">
      <input type="submit" >
   </form>

</body>
</html>
